fastapi
uvicorn[standard]
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
langgraph
langsmith
chromadb
pypdf
python-dotenv
python-multipart
tavily-python 
langchain 
pydantic 
fpdf 
python-docx 
PyPDF2
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
resend
